@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__link/cover__link.css);
@import url(./__image/cover__image.css);

.cover {
    outline: 1px solid red;
    background-image: url("../../photo/17fd58b80f252855d51020659c1e65e8.jpg");
    background-size: cover;
    width: 1024px;
    height: 640px;
    margin: 0 auto;
}

.cover:hover{
    background: rgba(88, 88, 88, 0.1);
}