@import url(./__list/footer__list.css);
@import url(./__list/footer__list-link.css);
@import url(./__copyright/footer__copyright.css);

.footer{
    margin: 0 auto;
    width: 928px;
    height: 18px;
    display: flex;
    justify-content: space-between;
}