@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__station/lead__station.css);
@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);

.lead{
    position: relative;
    max-width: 984px;
    height: 1005px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 92px;
}