@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list/intro__list-text.css);


.intro{
    max-width: 984px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 92px;
}