@import url(../block/media/media.css);
@import url(../block/header/header.css);
@import url(../block/lead/lead.css);
@import url(../block/intro/intro.css);
@import url(../block/photo-grid/photo-grid.css);
@import url(../block/places/places.css);
@import url(../block/cover/cover.css);
@import url(../block/footer/footer.css);
@import url(../block/page.css);

@font-face {
    font-family: 'Inter';
    src:  url('../fonts/Inter-Regular-slnt_0.woff') format('woff'),
          url('../fonts/Inter-Regular-slnt=0.ttf') format('truetype');
  }

@font-face {
    font-family: 'Inter-bold';
    src:  url('../fonts/Inter-Bold-slnt_0.woff') format('woff'),
          url('../fonts/Inter-Bold-slnt=0.ttf') format('truetype');
  }

@font-face {
    font-family: 'Inter-black';
    src:  url('../fonts/Inter-Black-slnt_0.woff') format('woff'),
          url('../fonts/Inter-Black-slnt=0.ttf') format('truetype');
  }

@media all and (min-width: 1280px) {
    .header{
        max-width: 1184px;
        
    }

    .lead {
        max-width: 984px;
        height: 1005px;
    }
    .lead__image {
        max-width: 984px;
        height: 615px;
    }
    .lead__stations{
        max-width: 886px;
        height: 224.59px;
    }


    .photo-grid {
        max-width: 1184px;
        height: 671px;
        display: grid;
        grid-template-columns: 284px 284px 284px 284px;
        grid-template-rows: 213px 213px 213px;
        gap: 16px;
    }
    .photo-grid__image {
        max-width: 284px;
        height: 213px;
    }


    .places{
        max-width: 984px;
    }
    .place{
        padding: 0;
        max-width: 984px;
        max-height: 660px;
        display: grid;
        grid-template-columns: 460px 456px;
        grid-template-rows: 152px 460px;
    }
    .place__image {
        max-width: 460px;
        height: 460px;
    }

    .cover{
        max-width: 1184px;
        height: 740px;
    }

    .footer{
        max-width: 1184px;
    }
}

@media all and (max-width: 768px) {
    .header{
        max-width: 720px;
        margin-top: 28px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .lead{
        max-width: 768px;
        height: 862px;
        position: relative;
        margin-top: 0px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }
    .lead__image{
        max-width: 768px;
        height: 480px;
    }
    .lead__stations{
        position: absolute;
        max-width: 691.51px;
        height: 175.29px;
        top: 460.38px;
        left: 32.39;
    }

    .intro{
        max-width: 720px;
        margin-top: 0px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }

    .photo-grid{
        max-width: 720px;
        height: 1664px;
        display: grid;
        grid-template-columns: 352px 352px;
        grid-template-rows: 264px 264px 264px 264px 264px 264px;
        gap: 16px;
        margin-top: 0px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }
    .photo-grid__image{
        max-width: 352px;
        height: 264px;
    }

    .places{
        max-width: 720px;
    }
    .place{
        padding: 0;
        max-width: 984px;
        height: 660px;
        display: grid;
        grid-template-columns: 340px 352px;
        grid-template-rows: 92px 340px;
    }
    .place__image{
        max-width: 340px;
        height: 340px;
    }

    .cover{
        max-width: 768px;
        height: 480px;
        margin-top: 0px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer{
        max-width: 720px;
        margin-top: 0px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 320px){
    .header{
        max-width: 288px;
        margin-top: 0px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .lead{
        position: relative;
        max-width: 320px;
        height: 406px;
        margin-top: 0px;
        margin-bottom: 64px;
        margin-left: auto;
        margin-right: auto;
    }
    .lead__title{
        max-width: 288px;
        height: 88px;
        font-family: Inter-black;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 44px;
/* or 110% */

text-align: center;

color: #FFFFFF;
    }
    .lead__subtitle{
        max-width: 288px;
        height: 40px;
        font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* or 125% */

text-align: center;

color: #FFFF
    }
    .lead__image{
        max-width: 320px;
        height: 200px;
    }
    .lead__stations{
        position: absolute;
        max-width: 288.13px;
        height: 73.04px;
        top: 225.83px;
        left: 13.5px;
    }

    .intro{
        max-width: 288px;
        height: 754px;
        margin-top: 0px;
        margin-bottom: 64px;
        margin-left: auto;
        margin-right: auto;
    }
    .intro__title{
        max-width: 288px;
        height: 70px;
        font-family: Inter-black;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 35px;
/* or 109% */


color: #FFFFFF;
    }
    .intro__text{
        max-width: 288px;
        font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 163%;
/* or 26px */


color: #FFFFFF;
    }
    .intro__list{
        max-width: 288px;
        font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* or 150% */


color: #FFFFFF;
    }

    .photo-grid{
        max-width: 288px;
        height: 2724px;
        display: grid;
        grid-template-columns: 288px;
        grid-template-rows: 216px;
        gap: 12px;
        margin-top: 0px;
        margin-bottom: 64px;
        margin-left: auto;
        margin-right: auto;
    }
    .photo-grid__image{
        max-width: 288px;
        height: 216px;
    }

    .places{
        max-width: 320px;
        margin-top: 0px;
        margin-bottom: 64px;
        margin-left: auto;
        margin-right: auto;
    }
    .places__list{
        padding: 0;
    }
    .place{
        list-style-type: none;
        padding: 0;
        max-width: 320px;
        height: 965px;
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
    }
    .place:last-child {
        margin: 0;
    }
    .place__title{
        display: flex;
        flex-direction: row;
        width: 288px;
        font-family: Inter-black;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* identical to box height, or 109% */


        color: #FFFFFF;
        margin: 0 auto;
    }
    .place__image{
        max-width: 320px;
        height: 320px;
    }
    .place__website{
        display: none;
    }

    .place__paragraph-text{
        max-width: 288px;
        font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 163%;
/* or 26px */

margin: 0 auto;
color: #FFFFFF;
    }


    .cover{
        margin: 0 auto;
        max-width: 320px;
        height: 200px;
        background-image: url("../photo/17fd58b80f252855d51020659c1e65e8.jpg");
        background-size: cover;
    }
    .cover__title{
        padding-top: 33px;
        max-width: 288px;
        height: 70px;
        font-family: Inter-black;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 35px;
/* or 109% */

text-align: center;

color: #FFFFFF;
margin-bottom: 16px;
    }
    .cover__subtitle{
        padding: 0;
        max-width: 288px;
        height: 48px;
        font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* or 114% */

text-align: center;

color: #FFFFFF;
    }

    .footer{
        max-width: 288px;
        height: 310px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .footer__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 288px;
    }
    .footer__list-link{
        max-width: 74px;
        height: 24px;
        margin-bottom: 32px;
    }
    .footer__copyright{
        display: flex;
        flex-direction: row;
    }
}